#container{
      height: 200px;
      width: 400px;
      border: 2px solid black;
      display: flex;
      flex-direction: column-reverse;

    }
    #container1{
      height: 200px;
      width: 400px;
      border: 2px solid black;
      display: flex;
      justify-content: space-evenly;

    }
    #container2{
      height: 200px;
      width: 400px;
      border: 2px solid black;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

    }
    #container3{
      height: 200px;
      width: 400px;
      border: 2px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    #container4{
      height: 600px;
      width: 800px;
      border: 2px solid black;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content:center;

    }
    
    #container5{
      height: 600px;
      width: 800px;
      border: 2px solid black;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;

    }
    #container6{
      height: 200px;
      width: 400px;
      border: 2px solid black;
      display: flex;
      justify-content: space-between;


    }
    #container7{
      height: 200px;
      width: 600px;
      border: 2px solid black;
      display: flex;
      justify-content: space-between;


    }
    #container8{
      height: 200px;
      width: 500px;
      border: 2px solid black;
      display: flex;
      justify-content: space-between;


    }
    .box{
      height: 90px;
      width: 90px;
      border: 2px solid black;
    }
    .boxes{
      height: 90px;
      width: 90px;
      border: 2px solid black;
    }
    #box1{background-color: aqua;}
    #box2{background-color: rgb(95, 23, 209);}
    #box3{background-color: rgb(206, 93, 17);}
    #box4{background-color: rgb(221, 14, 152);}
    #box5{background-color: yellowgreen;}
    #box6{background-color: aqua;}
    #box7{background-color: rgb(95, 23, 209);}
    #box8{background-color: rgb(206, 93, 17);flex-shrink: 5;}
    #box9{background-color: rgb(221, 14, 152);flex-grow: 0.5;}
    #box10{background-color: yellowgreen;}
    #boxx1{background-color: aqua;order: 4;}
    #boxx2{background-color: rgb(95, 23, 209);order: 5;}
    #boxx3{background-color: rgb(206, 93, 17);order: 1;}
    #boxx4{background-color: rgb(221, 14, 152);order: 2;}
    #boxx5{background-color: yellowgreen;order: 3;}